body{
	background-color: #FAF9F5;
	background-image: url(Pictures/background.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
}


/* HEADER */

.header{
	text-align: center;
	padding-bottom: 75px;
	padding-top: 30px;
	background-color: #FAF9F5;
	width: 63%;
	margin: auto;
	
}

.header h1{
	font-family: 'Pacifico', cursive;
	font-size: 4em;
	margin:0; padding:0;
	
}
.header h2{
	font-family: 'Pacifico', cursive;
	font-size: 1.5em;
	margin:0; padding:0;
}



#headshot{

	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}

/* ABOUT */

.about{
	margin: auto;
	width: 63%;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	background-color: #FAF9F5;
}

.about h3{
	vertical-align: middle;
	padding-top: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
}

.about p{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	padding: 10px;
	width: 55%;
	margin: auto;
}

/* SERVICES */

.services {
	margin: auto;
	width: 63%;
	padding-top:40px;
	text-align: center;
	background-color: #FAF9F5;
	padding-bottom: 10px;
}



.services h2{
	font-family: 'Pacifico', cursive;
	font-size: 2.5em;
	vertical-align: middle;
	
}

.services p{
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	padding: 15px;
}

#custom{
	font-size: .75em;
	font-family: 'Roboto', sans-serif;
	vertical-align: middle;
	
}

/* SERVICES LIST */

* {
    box-sizing: border-box;
}

/* three columns of equal width */
.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

/* Style the list */
.price {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
	border-radius: 20px;
}

/* Pricing header */
.price .header {
    background-color:#F3ACB2;
    color: white;
    font-size: 25px;
	font-family: 'Pacifico', cursive;
	border-radius: 10px;
}


.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
	font-family: 'Roboto', sans-serif;
	
}


.price .cost {
    background-color:;
    font-size: 20px;
	font-family: 'Roboto', sans-serif; 
}




.row:after {
	content: "";
	display: table;
	clear: both;
	
	
	
}

/* CONTACT */

.contact{
	text-align: center;
	background-color: #FAF9F5;
	width: 63%;
	margin: auto;
	padding-top: 10px;
}

.contact h2{
	font-family: 'Pacifico', cursive;
	font-size: 2.5em;
	vertical-align: middle;
}

.contact p{
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
}

select, input{
	border-radius: 4px;
	border: 1px solid #ccc;
	height: 30px;
	
	
}
textarea{
	border-radius: 4px;
	border: 1px solid #ccc;
    height: 150px;
	width: 35%;
}
	

input[type=submit]{
	background-color: white;
	width: 75px;
	height: 30px;
}

input[type=submit]:hover{
	
	
}
/* FOOTER */

footer{
background-color: #FAF9F5;
	width: 63%;
	text-align: center;
	margin: auto;
	padding-top: 40px;
}

footer h4{
	font-family: 'Pacifico', cursive;
	font-size: 1.75em;
}

.social i{
	padding-left: 15px;
	padding-right: 15px;
	font-size: 2.5em;
	color:#F3ACB2;
}

.social i:hover{
	color: #B75E64;
	transition: .5s;
}

/* Responsive */

@media screen and (max-width: 600px) {
	.column{
		width: 100%;
	}
}		